---
import ContentSection from "../../../components/dumb/ContentSection.astro";
import { dynamicPages, dynamicPagesConfig } from "../../../data/dynamic-pages";

import Layout from "../../../layouts/Layout.astro";
import { checkIfImageUrl } from "../../../utils/image";

export function getStaticPaths() {
    const types = Object.keys(dynamicPages) as (keyof typeof dynamicPages)[];
    // const paths = Object.keys(dynamicPages[dynamicPageType]).flatMap((year) =>
    //     Object.keys(dynamicPages[dynamicPageType][year]).map((slug) => ({
    //         params: {
    //             year: year,
    //             slug: slug,
    //         },
    //     }))
    // );

    const paths = types.flatMap((type) =>
        Object.keys(dynamicPages[type]).map((year) => ({
            params: {
                dynamicPageType: type,
                year: year,
            },
        }))
    );

    console.log(`Generating pages for "[dynamicPageType]]/[year]/index"`, {
        paths,
    });
    return paths;
}

const { dynamicPageType, year } = Astro.params;
---

<Layout title={dynamicPagesConfig[dynamicPageType].title}>
    <main class="pt-4">
        <ContentSection>
            <h1 class="font-heading text-6xl">
                <a
                    href={`/${dynamicPageType}`}
                    class="hover:underline focus:underline"
                    >{dynamicPagesConfig[dynamicPageType].title}</a
                > / {year}
            </h1>

            <div
                class="grid md:grid-cols-2 xl:grid-cols-3 gap-4 lg:gap-8 mt-4 lg:mt-8"
            >
                {
                    Object.keys(dynamicPages[dynamicPageType])
                        .filter((entryYear) => entryYear === year)
                        .toSorted((a, b) => Number(b) - Number(a))
                        .map((year) =>
                            Object.keys(dynamicPages[dynamicPageType][year])
                                .toSorted((a, b) => {
                                    const dateA = new Date(
                                        dynamicPages[dynamicPageType][year][
                                            a
                                        ].date
                                    );
                                    const dateB = new Date(
                                        dynamicPages[dynamicPageType][year][
                                            b
                                        ].date
                                    );
                                    // @ts-ignore
                                    return dateB - dateA;
                                })
                                .map((slug) => {
                                    const article =
                                        dynamicPages[dynamicPageType][year][
                                            slug
                                        ];
                                    return (
                                        <article>
                                            <a
                                                href={`/${dynamicPageType}/${year}/${article.slug}`}
                                                class="relative flex flex-col group border border-border justify-center items-start h-full hover:border-primary-500 focus:border-primary-500 focus:outline-none"
                                            >
                                                <div class="relative w-full">
                                                    <img
                                                        src={
                                                            checkIfImageUrl(
                                                                article.poster
                                                            )
                                                                ? article.poster
                                                                : "/images/loading-gray.svg"
                                                        }
                                                        alt={article.title}
                                                        class="w-full h-48 object-cover object-center group-hover:opacity-75 group-focus:opacity-75 border-b border-b-border group-hover:border-b-primary-500 group-focus:border-b-primary-500"
                                                    />
                                                    <p class="z-10 absolute bottom-px right-0 p-2 text-right font-light text-xs text-white bg-black/10 backdrop-blur-md">
                                                        {article.date}
                                                    </p>
                                                </div>
                                                <div class="flex flex-col w-full grow">
                                                    {/* <h2 class="px-4 py-2 font-heading text-2xl leading-none m-0 group-hover:bg-foreground group-hover:text-background group-focus:bg-foreground group-focus:text-background"> */}
                                                    <h2 class="px-4 py-2 font-heading text-2xl leading-none group-hover:text-primary-500 group-focus:text-primary-500">
                                                        {article.title}
                                                    </h2>
                                                    <p class="pb-2 px-4 pt-2 font-paragraph font-light opacity-90 border-t border-t-border group-hover:border-t-primary-500 group-focus:border-t-primary-500">
                                                        {article.summary}
                                                    </p>
                                                </div>
                                            </a>
                                        </article>
                                    );
                                })
                        )
                }
            </div>
        </ContentSection>
    </main>
</Layout>
