---
import Footer from "../components/smart/Footer.astro";
import Nav from "../components/smart/Nav.astro";
import "@/styles/global.css";

interface Props {
    title?: string;
    description?: string;
    image?: string;
    marginForNav?: boolean;
    marginForFooter?: boolean;
}

const defaultTitle = "Bjørnar Hagen";

const {
    title = defaultTitle,
    description = "Software engineer",
    image = "/image.jpg",
    marginForNav = true,
    marginForFooter = true,
} = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />

        <link href="/fonts/eb-garamond/eb-garamond.css" rel="stylesheet" />
        <link href="/fonts/hack/hack.css" rel="stylesheet" />
        <link href="/fonts/pirata-one/pirata-one.css" rel="stylesheet" />

        <meta property="og:site_name" content="Bjørnar Hagen" />
        <meta property="og:locale" content="en_US" />
        <meta http-equiv="Permissions-Policy" content="interest-cohort=()" />

        <title>
            {title === defaultTitle ? title : `${title} | ${defaultTitle}`}
        </title>

        <meta name="description" content={description} />
        <meta property="og:description" content={description} />

        <meta property="og:image" content={image} />

        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="manifest" href="/manifest.json" />
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#cb1a32" />
        <meta name="theme-color" content="#cb1a32" />

        <meta name="generator" content={Astro.generator} />
    </head>
    <!-- class="font-content bg-zinc-100 dark:bg-zinc-900 text-foreground min-h-screen" -->
    <body
        class="font-content bg-white dark:bg-black text-foreground min-h-screen"
    >
        <Nav />
        {marginForNav && <div class="pt-14 md:pt-16" />}
        <slot />
        {marginForFooter && <div class="pt-14 md:pt-16" />}
        <Footer />
    </body>
</html>
